/* font */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

* {
  margin: 0 auto;
  padding: 0;
}

/* common styles */

body {
  font-family: "Work Sans", sans-serif;
}

.orange-button {
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #ff900e;
  border: 0;
  padding: 20px 25px;
  border-radius: 8px;
}

/* nav area styles */

header,
.banner {
  width: 1920px;
  background-color: rgba(255, 144, 14, 0.1);
  display: flex;
  justify-content: center;
}

.logo-text {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}

nav {
  width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

nav > ul {
  width: 477px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

li > a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: #424242;
}

.banner {
  background-color: rgba(255, 144, 14, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 50px;
}

.heading {
  font-weight: 700;
  font-size: 64px;
  color: #131313;
  padding: 50px 0;
}

.heading-briefing {
  font-weight: 400;
  font-size: 16px;
  color: #727272;
}

.banner-image img {
  width: 100%;
}

.banner-button {
  margin: 30px 0 50px 0;
}

.features {
  width: 1440px;
  display: flex;
  align-items: center;
  padding: 130px 250px;
}

.features-left {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  padding: 0 50px;
}

.feature-right {
  padding-left: 70px;
}

.feature-title {
  font-size: 45px;
  font-weight: 700;
  color: #131313;
}

.grey-text {
  font-weight: 500;
  color: #727272;
}

.orange-text {
  font-weight: 700;
  color: #ff900e;
}

.feature-description {
  color: #727272;
  padding: 24px 0 30px 0;
}

.feature-speciality-left {
  padding: 0 50px;
}

.feature-speciality-right{
    display: flex;
    flex-direction: column;
}

.feature-speciality {
  width: 1440px;
  display: flex;
}

.feature-special-title {
  border-left: 10px solid #ff900e;
  padding-left: 20px;
}

.feature-special-title-detail {
  padding: 15px 0;
}

.feature-speciality-left-bottom {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 20px;
}

.speciality {
  padding: 20px;
}

.special-feature-title {
  padding: 10px 0;
}

.experience-btn {
  width: 342px;
  font-weight: 700;
  font-size: 65px;
  color: #ffffff;
  background-color: #ff900e;
  padding: 40px;
  border: 0;
  border-radius: 8px;
  margin: -90px 0;
}

.experience-small-text {
  font-weight: 500;
  font-size: 25px;
}




@media only screen and (max-width: 576px) {
  header,
  .banner {
    width: auto;
  }
  nav,
  nav > ul {
    flex-direction: column;
    align-items: center;
  }
  .logo-text {
    font-size: 28px;
    margin-bottom: 10px;
  }

  nav > ul > li {
    padding: 5px 0;
  }

  .heading {
    font-size: 34px;
    padding: 20px 0;
  }
  .features {
    width: auto;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  .feature-title {
    padding-top: 25px;
  }
  .features-left {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
    margin: 0;
  }
  .feature-speciality{
      width: auto;
      flex-direction: column;
  }
  .feature-special-title{
      font-size: 30px;
      padding: 15px;
  }
  .feature-speciality-right{
      align-items: center;
  }
  .feature-speciality-right img{
      width: 100%;
  }
  .feature-speciality-left-bottom{
      padding: 0;
  }
  .experience-btn{
      margin: 10px 0;
      font-size: 25px;
  }
  
  .hidden{
      display: none;
  }
}
